@tailwind base;
@tailwind components;
@tailwind utilities;

/* -----------ScrollBar-Start------- */
::-webkit-scrollbar {
  @apply w-0;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-themeBlue;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-themeBlue;
}

/* -----------ScrollBar-End------- */

body {
  @apply font-opensans;
}

.text-montserrat {
  @apply font-opensans;
}

.container {
  @apply max-w-[1320px] w-full m-auto px-4;
}

h1 {
  @apply text-[64px] leading-[1.2] font-bold font-opensans;
}

h2 {
  @apply text-[52px] leading-[1.2] font-bold font-opensans;
}

h3 {
  @apply text-[48px] leading-[1.2] font-medium font-opensans;
}

h4 {
  @apply text-[38px] leading-[1.2] font-medium font-opensans;
}

h5 {
  @apply text-[32px] leading-[1.2] font-medium font-opensans;
}

h6 {
  @apply text-[24px] leading-[1.2] font-medium font-opensans;
}

p {
  @apply text-[22px] font-opensans;
}

.paragraph {
  @apply text-lg font-opensans;
}

.transate {
  transition: 0.5s all ease-in-out;
}

.btn {
  @apply px-5 py-[18px] bg-[#007AFC] text-white rounded-[4px] text-[20px] font-semibold border border-solid border-[#007AFC] hover:bg-white hover:border-[#007AFC] hover:text-[#007AFC] transate inline-block;
}

body.menu-open {
  overflow: hidden;
}

.navigation a {
  @apply text-white transate hover:text-themeSeaGreen text-xl font-semibold !m-0;
}

.navigation nav {
  @apply gap-8;
}


/* Header Css Start */

.mobileMenu a {
  @apply inline-block w-full text-2xl leading-normal h-fit !mb-8;
}


/* Header Css Close */

/* Home Page Css Start */

.Tags li a {
  @apply inline-block px-6 py-3 rounded-[35px] bg-themeSeaGreen min-w-[150px] text-[20px] font-bold text-center text-[#1E3158];
}

.Tags ul {
  @apply flex flex-wrap w-full gap-4 gap-y-5 relative min-h-[150px];
}

.Tags ul {
  @apply max-w-[420px];
}

.Tags {
  @apply relative w-fit;
}

.Tags ul li:nth-child(1) {
  @apply rotate-12 absolute;
}

.Tags ul li:nth-child(2) {
  @apply rotate-[-29deg] right-[-270px] bottom-[30px] absolute;
}

.Tags ul li:nth-child(3) {
  @apply rotate-[2deg] right-[-100px] bottom-[20px] absolute;
}

.Tags ul li:nth-child(3) a {
  @apply bg-white;
}


.Tags.RightTags ul li:nth-child(1) {
  @apply rotate-[-10deg] -left-[130px] absolute;
}

.Tags.RightTags {
  @apply mr-[80px]
}

.Tags.LeftTags {
  @apply ml-[80px]
}

.Tags.RightTags ul li:nth-child(2) {
  @apply rotate-[-330deg] right-auto left-[-230px] bottom-[30px] absolute;
}

.Tags.RightTags ul li:nth-child(3) {
  @apply rotate-[-9deg] right-[-80px] bottom-[30px] absolute;
}

.Tags.RightTags ul li:nth-child(1) a {
  @apply bg-white;
}

.Tags.RightTags ul li:nth-child(3) a {
  @apply bg-themeSeaGreen;
}

.BannerSection::before {
  content: '';
  @apply absolute left-0 right-0 bottom-0 w-full h-full z-[1];
  background: #2A7B9B;
  background: linear-gradient(186deg, rgba(42, 123, 155, 0) 60%, rgba(255, 255, 255, 1) 100%);
}

/* Home Page Css Close */

/* ------------Media Queries-Start-----------*/

@media (max-width: 1440px) {
  .container {
    @apply max-w-[1280px];
  }

  h1 {
    @apply text-[52px] leading-[1.2] font-bold font-opensans;
  }

  h2 {
    @apply text-[46px] leading-[1.2] font-bold font-opensans;
  }

  h3 {
    @apply text-[44px] leading-[1.2] font-bold font-opensans;
  }

  h4 {
    @apply text-[34px] leading-[1.2] font-medium font-opensans;
  }

  h5 {
    @apply text-[28px] leading-[1.2] font-medium font-opensans;
  }

  h6 {
    @apply text-[22px] leading-[1.2] font-medium font-opensans;
  }

  p {
    @apply text-[20px] font-opensans;
  }
}

/* ---------------Mobile-Media-Queries--------------- */
@media (max-width: 767px) {
  h1 {
    @apply text-[36px] leading-[1.2] font-bold font-opensans;
  }

  h2 {
    @apply text-[30px] leading-[1.2] font-bold font-opensans;
  }

  h3 {
    @apply text-[28px] leading-[1.2] font-bold font-opensans;
  }

  h4 {
    @apply text-[24px] leading-[1.2] font-medium font-opensans;
  }

  h5 {
    @apply text-[22px] leading-[1.2] font-medium font-opensans;
  }

  h6 {
    @apply text-[20px] leading-[1.2] font-medium font-opensans;
  }

  p {
    @apply text-base font-opensans;
  }


  .Logo img {
    @apply w-[120px];
  }
}